# Preserve nested project repositories locally without committing their Git metadata
**/.git-inner-backup/

# GitHub rejects individual files larger than 100 MB
体系结构/pipline_better/CPU设计实战 CPU Design and Practice (汪文祥, 邢金璋) (Z-Library).pdf
体系结构/pipline_better/lab4/lab10/CPU_CDE_SRAM/mycpu_sram_verify/run_vivado/mycpu_prj1/mycpu.sim/sim_1/behav/xsim/tb_top_behav.wdb
数据安全/2312331王一诺数据安全期末汇报.zip
数据安全/2312331王一诺数据安全期末汇报/2312331王一诺数据安全期末汇报视频.mp4
Python初阶/新闻文本分类器（大作业）/cnn/V6-trained-word2vec/baike_26g_news_13g_novel_229g.model
Python初阶/新闻文本分类器（大作业）/cnn/V6-trained-word2vec/baike_26g_news_13g_novel_229g.model.trainables.syn1.npy
Python初阶/新闻文本分类器（大作业）/cnn/V6-trained-word2vec/baike_26g_news_13g_novel_229g.model.wv.vectors.npy
