.area {
  fill: url(#gradient);
  stroke: none;
}

#chart-container {
  width: 100%;
  height: 400px;
}

.bar {
  fill: red;
  stroke: white;
  stroke-width: 2px;
}

.bar:hover {
  fill: orange;
}

.bar2 {
  fill:slategray;
  stroke: white;
  stroke-width: 2px;
}

.bar2:hover {
  fill:orange;
}

.center-text {
  text-align: center;
}